@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hjemmeside til brug i 4.semester projekt</h1>
    <p>Samarbejde mellem gruppe 1. UCL Odense og TV2 vedrørende NFC projekt.</p>
</div>
