@{
    ViewData["Title"] = "Læringsmål";
}
<h1>@ViewData["Title"]</h1>

<p>
    4.Semester læringsmål
</p>
<p>

    Viden Den studerende har viden om:
</p>

<li>

    Det/de valgte emners teori og praksis
</li>
<li>
    Det/de valgte emners relevans i forhold til it fagets teori og praksis
</li>
<p> </p>
<p> Færdigheder Den studerende kan </p>
<li>
    Udvælge , beskrive og foretage litteratursøgning af en selvvalgt it faglig problemstilling
</li>


<li> Diskutere samfundsmæssige aspekter knyttet til det/de valgte emner </li>
<li> Vurdere problemstillinger og opstille løsningsmuligheder i forhold til det/de valgte emner </li>
<li> Formidle centrale resultater </li>

<p> </p>

<p>Kompetencer Den studerende kan </p>
<li> Selvstændigt sætte sig ind i nye emner inden for fagområdets teori og/eller praksis </li>
<li>  Perspektivere og relatere det/de valgte emner i forhold til uddannelsens øvrige emneområder </li>


<p> </p>

<p> Portfølje (bliver snart opdateret)</p>

<p> Læringsplan for Tobias inden for emnerne: "IT-sikkerhed og projektstyring" </p>

<div class="text-center">
    <p>
        Jeg vil lære om IT-sikkerhed på mobil (android) applikationer
    </p>

    <p> Jeg vil lære om IT-sikkerhed på Webapplikationer </p>

    <p> Jeg vil lære om NFC teknologi </p>

    <p> Jeg vil lære at behandle NFC teknologi i mobilapplikationer </p>

    <p> Jeg vil lære hvad god projektstyring</p>

    <p> Jeg vil lære hvorfor god projektstyring er vigtig og hvilken påvirkning det har på et projekt</p>
</div>

<p> Literatur liste</p>
<li>Crisis_Management_Planning_And_Execution.pdf, </li>
<li>From_Projects_To_Programs.pdf, </li>
<li>Culturally_Tuned_Change_Management.pdf, </li>
<li>Human_Factors_Inproject_Management.pdf, </li>
<li>It_Project_Management.pdf, </li>
<li>Leadership_In_Chaordic_Organizations.pdf, </li>
<li>Leading_Virtual_Project_Teams.pdf, </li>
<li>Managing_Project_Competence.pdf, </li>
<li>Maximizing_Benefits_From_It_Project_Management.pdf, </li>
<li>Organizational_Crisis_Management.pdf, </li>
<li>PMI-PBA_Exam_Practice_Test_And_Study_Guide.pdf, </li>
<li>Project_Business_Management_1580160947.pdf, </li>
<li>Project_Management_Lessons_Learned.pdf, </li>
<li> Project_Program_Change.pdf,</li>
<li> Project_Scope_Management.pdf,</li>
<li>Systematic_Strategic_Planning.pdf, </li>
<li>The_Four_Pillars_Of_Project_Portfolio_Management.pdf, </li>
<li>Turtle_Design_In_A_Rabbit_Age.pdf, </li>
<li>A_Holistic_Approach_To_Lessons_Learned.pdf, </li>
<li>Applying_Guiding_Principles_Of_Effective_Project_Management.pdf, </li>
<li>Borderless_Leadership_1579812598.pdf, </li>
<li>Creating_A_Greater_Whole_A_Project_Managers_Guide_To_Becoming_A_Leader.pdf, </li>
<li> Creative_Efficient_And_Effective_Project_Management.pdf,</li>















